.chaoticText {
  --chaotic-font-weight-medium: 600;
  --chaotic-font-weight-thick: 700;
  --chaotic-font-size-variation: 1.2;

  font-weight: var(--chaotic-font-weight-thick);
  
  display: flex;
  flex-direction: column;
  width: auto;
  width: fit-content;
}

.chaoticText > span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chaoticText > span > span {
  display: flex;
  transform: translateY(0);
}

.chaoticText > span > span:nth-child(3n+1) {
  font-weight: var(--chaotic-font-weight-medium);
  font-weight: 600;
  font-size: calc(1em * var(--chaotic-font-size-variation));
}

.chaoticText > span > span:nth-child(2n+1) {
  transform: translateY(-0.033em);
}