.featuredPost {
  display: grid;
  position: relative;
  grid-template-areas: "body"
    "icon"
    "header";
  grid-template-columns: auto 1fr;
  /* padding: var(--content-spacing-v) var(--content-spacing-h); */
  gap: var(--content-spacing-v) var(--content-spacing-h);
  z-index: 0;
}

.featuredPost::before {
  content: ' ';
  position: absolute;
  top: 4em;
  left: 1em;
  right: 0;
  bottom: 0;
  background: var(--shadow-color);
  border-radius: 10% 20% 10% 5%;
  z-index: -1;
}

.header {
  grid-area: header;
  padding-bottom: 1em;
}

.iconContainerContainer {
  padding-top: var(--content-spacing-v);
}

.iconContainer {
  grid-area: icon;
  max-width: 4em;
  margin-left: 1em;
  margin-top: -4em;
  z-index: 1;
  
  /* position: absolute;
  bottom: calc(-1 * var(--content-spacing-v));
  left: var(--content-spacing-h); */
}

.body {
  grid-area: body;

  border: solid .125em var(--fg-color);
  border-radius: 10% 20% 10% 5%;
  overflow: hidden;
}

.iconWrapper {
  position: relative;
}

.iconWrapper > img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  z-index: 1;
}

.iconWrapper > img,
.iconWrapper::before {
  clip-path: url('../../svg/square-clip-path.svg#clipPath');
}

.iconWrapper::before,
.iconWrapper::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.iconWrapper::before {
  background: var(--shadow-color);
  transform: scale(1.25, 1.25);
}

.iconWrapper::after {
  background-image: url('../../svg/square-clip-path.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(1.25, 1.25);
  transform-origin: center center;
  z-index: 0;
}

@media screen and (min-width: 640px) {
  .featuredPost {
    grid-template-areas: "body body"
      "icon header";
  }

  .iconContainer {
    position: relative;
    top: auto;
    bottom: auto;
    margin-left: 0;
    margin-top: 1em;
  }
}

@media screen and (transform-3d),(-webkit-transform-3d) {
  .featuredPost {
    perspective: 20em;
  }
  .featuredPost .body {
    transform: rotate3d(-0.5, 1, 0, 5deg);
    transform-origin: 0% 66.66%;
  }
}

/* @media screen and (min-width: 768px) {
  .featuredPost {
    grid-template-areas: "icon body"
      "header body";
    grid-template-columns: 1fr 1.618fr;
    grid-template-rows: 1fr auto;
    align-items: end;
    justify-items: end;
    max-width: 40rem;
    height: 20rem;
    margin: 0 auto;
  }

  .header {
    text-align: right;
  }

  .icon {
    text-align: right;
  }

  .body {
    justify-self: auto;
  }

  .featuredPost img,
  .featuredPost video {
    max-width: 100%;
    max-height: 100%;
  }
} */
